body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#about-section {
  background: url(../img/ai-artificial-intelligence-codes-247791.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#about-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#about-section .about-inner {
  padding-top: 120px;
}

#about-section .fas,
#c-section .fas {
  color: #008ed6;
  background: #f8f9fa;
  padding: 5px;
  border-radius: 5px;
}

#js-section .fas,
#tech-section .fas {
  background: #f8f9fa;
  color: #343a40;
  padding: 5px;
  border-radius: 5px;
}

button .close {
  z-index: 1;
}
